@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Unauthorized";
}

<h1 class="text-danger">Unauthorized Access</h1>
<h2 class="text-danger">Only Inspectors can view and modify details</h2>

